
.memory-node{
  position: relative;
  cursor: pointer;

  .name{
    padding: 14px;
    color: #eeeeee;

    &.selected{
      background-color: #14f38c;
    }
  }

  &:hover, &[selected=true]{
    background-color: #444444;
  }

  .expander{
    float: left;
    height: 47px;
    width: 45px;

    div{
      margin: 13px;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      transition: all ease 0.3s;
    }

    &[collapsed=true]{

      div {
        margin: 18px;
        width: 10px;
        height: 10px;
        border: 5px solid #eeeeee;
      }
    }

    &[collapsed=false]{

      div {
        border: 2px solid #eeeeee;
      }
    }

    &.false{
      div{
        margin: 18px;
        width: 10px;
        height: 10px;
        border: 1px solid #9c9c9c;
      }
    }
  }
}

.children-memories{
  margin-left: 40px;
  padding-bottom: 15px;
  display: none;

  &[collapsed=false]{
    display: block;
  }
}

.prev-separator, .next-separator{
  position: absolute;
  z-index: 2;
  height: 16px;
  width: 100%;

  &.selected{
    background-color: #14f38c;
  }
}

.prev-separator{
  top: -8px;
}

.next-separator{
  bottom: -8px;
}

app-memory-node{
  display: block;
  position: relative;
}
