<div class="prev-separator"
     (drop)="moveMemoryNearHere($event, true)"
     (dragover)="allowToMoveMemoryHere($event)"
     (dragenter)="selectMoveTarget($event)"
     (dragleave)="unSelectMoveTarget($event)"></div>
<div class="memory-node" (click)="select()"
     (drop)="moveMemoryInsideHere($event, true)"
     (dragover)="allowToMoveMemoryHere($event)"
     (dragenter)="selectMoveTarget($event)"
     (dragleave)="unSelectMoveTarget($event)"
     attr.selected="{{memory.isSelected}}">
  <div class="expander {{memory.memories.length > 0}}" (click)="toggle()" attr.collapsed="{{memory.isCollapsed}}"><div></div></div>
  <div class="name" [innerHTML]="memory.name"
       (dragstart)="startMovingThisMemory()"
       (dragend)="cancelMovingThisMemory()" draggable="true"></div>
</div>
<div class="children-memories" attr.collapsed="{{memory.isCollapsed}}">
  <app-memory-node *ngFor="let childMemory of memory.memories" [memory]="childMemory" [parentMemory]="memory" [memoriesContext]="memoriesContext"></app-memory-node>
</div>
<div class="next-separator"
     (drop)="moveMemoryNearHere($event, false)"
     (dragover)="allowToMoveMemoryHere($event)"
     (dragenter)="selectMoveTarget($event)"
     (dragleave)="unSelectMoveTarget($event)"></div>
