body, div, a, button, input, textarea, select{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 300;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button{
  border: none;
  box-shadow: none;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color ease 0.5s;
}

input, textarea{
  border: 1px solid #dddddd;
  padding: 10px;
  box-sizing: border-box;
}

textarea{
  margin-bottom: -4px;
}

input:focus, textarea:focus, select:focus{
  outline: 2px solid #0ebee6;
}
