<div class="memories-tree">
  <div class="logo"></div>
  <div class="header">Memory Palace</div>
  <button (click)="addMemory()" class="add-memory"></button>
  <app-memory-node *ngFor="let memory of memoriesContext.memories" [memory]="memory" [memoriesContext]="memoriesContext"></app-memory-node>
</div>
<app-memory-detail [memoriesContext]="memoriesContext"></app-memory-detail>
