.memories-tree{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  background-color: #333333;

  .logo{
    background: url('../images/logo.svg') no-repeat center;
    width: 50px;
    height: 50px;
    float: left;
  }

  .header{
    color: #eeeeee;
    font-size: 20px;
    padding-left: 60px;
    background-color: #242627;
    font-weight: bold;
    height: 50px;
    padding-top: 12px;
    border-bottom: 1px solid #212121;
  }

  .add-memory{
    background: #0ebee6 url('../images/add.svg') no-repeat center;
    background-size: 35px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;

    &:hover{
      background-color: #8be6ea;
    }
  }
}

app-memory-node{
  display: block;
  position: relative;
}
