.memory-detail-container{
  position: absolute;
  left: 400px;
  top: 0;
  bottom: 0;
  right: 0;
}

.memory-detail{
  position: absolute;
  top: 0;
  left: 400px;
  right: 0;
  bottom: 0;

  .name{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-color: #404040;
    color: #eeeeee;
    font-size: 20px;
    height: 50px;
    padding: 12px 60px 20px 20px;
  }

  .form{
    width: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 50px;
    background-color: #eeeeee;
    border-right: 1px solid #dddddd;
    float: left;
    padding: 20px;

    input{
      width: 100%;
    }
  }

  .preview{
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 50px;
    padding: 20px;
  }

  .actions{
    overflow: hidden;
    margin-bottom: 20px;
    padding-bottom: 10px;

    button.add{
      width: 40px;
      height: 40px;
      cursor: pointer;
      background-size: 24px;
      margin-top: 10px;
      margin-left: 10px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #7065cc;
      float: right;

      &:hover{
         background-color: #9e96de;
      }
    }
  }

  button.paragraph, .mover.paragraph{
    background-image: url('../../../images/text-section.svg');
  }

  button.list, .mover.list{
    background-image: url('../../../images/list-section.svg');
  }

  button.console, .mover.console{
    background-image: url('../../../images/console-section.svg');
  }

  .section{
    margin-bottom: 20px;
  }

  .section-editor{
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;

    .prev-separator,
    .next-separator{
      position: absolute;
      left: 0;
      height: 16px;
      width: 100%;
      display: none;
      z-index: 2;

      &.selected{
        background-color: #14f38c;
      }
    }

    &[moving="true"]{
      &:nth-child(3) {
        .prev-separator {
          display: block;
        }
      }

      .next-separator{
        display: block;
      }
    }

    .prev-separator{
      top: -12px;
      display: none;
    }

    .next-separator{
      bottom: -12px;
    }

    &.paragraph{
      padding-right: 40px;
    }

    .mover{
      position: absolute;
      left: 0;
      top: 0;
      width: 40px;
      background-size: 24px;
      height: 100%;

      &.paragraph{
        background-color: #666666;

        &:hover{
          background-color: #3f84cc;
        }
      }

      &.console{
        background-color: #666666;

        &:hover{
          background-color: #3f84cc;
        }
      }

      &.list{
        background-color: #666666;

        &:hover{
          background-color: #3f84cc;
        }
      }
    }

    .remover{
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      background-size: 24px;
      height: 100%;
      background: #ff0081 url('../../../images/delete.svg') no-repeat center;

      &:hover{
        background-color: #ec8796;
      }
    }
  }
}

.delete{
  background: #ff0081 url('../../../images/delete.svg') no-repeat center;
  background-size: 35px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;

  &:hover{
    background-color: #ec8796;
  }
}
