<div *ngIf="memoriesContext.selected" class="memory-detail">
  <div class="name">{{memoriesContext.selected.name}}</div>
  <button class="delete" (click)="delete()"></button>
  <div class="form">
    <input type="text" [(ngModel)]="memoriesContext.selected.name" (change)="save()"/>
    <div class="actions">
      <button class="add paragraph" (click)="addParagraph()"></button>
      <button class="add list" (click)="addList()"></button>
      <button class="add console" (click)="addConsole()"></button>
    </div>
    <div *ngFor="let section of memoriesContext.selected.sections" class="section-editor {{section.type}}" attr.moving="{{sectionMoving}}">
      <div class="prev-separator"
           (drop)="moveSection(section, $event, true)"
           (dragover)="allowSectionMoving($event)"
           (dragenter)="selectSeparator($event)"
           (dragleave)="unSelectSeparator($event)"></div>
      <button class="mover {{section.type}}" (dragstart)="startMovingSection(section, $event)" (dragend)="cancelMovingSection(section, $event)" draggable="true"></button>
      <app-paragraph-editor *ngIf="section.type == 'paragraph'" [section]="section" [saveObserver]="saveObserver"></app-paragraph-editor>
      <app-elements-editor *ngIf="section.type == 'list' || section.type == 'console'" [section]="section" [deleteObserver]="deleteObserver" [saveObserver]="saveObserver"></app-elements-editor>
      <button *ngIf="section.type == 'paragraph'" class="remover"></button>
      <div class="next-separator"
           (drop)="moveSection(section, $event, false)"
           (dragover)="allowSectionMoving($event)"
           (dragenter)="selectSeparator($event)"
           (dragleave)="unSelectSeparator($event)"></div>
    </div>
  </div>
  <div class="preview">
    <div *ngFor="let section of memoriesContext.selected.sections" class="section">
      <app-paragraph *ngIf="section.type == 'paragraph'" [section]="section"></app-paragraph>
      <app-list *ngIf="section.type == 'list'" [section]="section"></app-list>
      <app-console *ngIf="section.type == 'console'" [section]="section"></app-console>
    </div>
  </div>
</div>
