<div class="elements-editor">
  <div *ngFor="let element of section.elements; let i = index" class="element">
    <button class="{{section.type}} mover"></button>
    <input [(ngModel)]="element.value" (change)="save()"/>
    <button (click)="deleteElement(i)" class="delete"></button>
  </div>
  <button (click)="addElement()" class="add"></button>
</div>
