.elements-editor{
  position: relative;
  padding-left: 10px;
  padding-right: 51px;

  .add{
    position: absolute;
    right: 0;
    top: 0;
    background: #0ebee6 url('../../../../../images/add.svg') no-repeat center;
    background-size: 24px;
    width: 41px;
    height: 41px;

    &:hover{
      background-color: #8be6ea;
    }
  }

  .element{
    position: relative;
    padding-left: 41px;
    padding-right: 41px;
    margin-bottom: 1px;

    input{
      width: 100%;
    }

    .mover{
      position: absolute;
      left: 0;
      top: 0;
      width: 41px;
      height: 41px;
      background-size: 24px;

      &.console{
        background: #cccccc url('../../../../../images/console-element.svg') no-repeat center;
        background-size: 30px;

        &:hover{
          background-color: #3f84cc;
        }
      }

      &.list{
        background: #cccccc url('../../../../../images/list-element.svg') no-repeat center;

        &:hover{
          background-color: #3f84cc;
        }
      }
    }

    .delete{
      position: absolute;
      right: 0;
      top: 0;
      width: 41px;
      height: 41px;
      background-size: 24px;
      background: #ff0081 url('../../../../../images/delete.svg') no-repeat center;

      &:hover{
        background-color: #ec8796;
      }
    }
  }
}
